BroadcastorClient/Service References/BroadcastorService/BroadcastorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BroadcastorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBroadcastorService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://mylaptop/BroadcastorService/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://mylaptop/BroadcastorService/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mylaptop/BroadcastorService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BroadcastorService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBroadcastorService_RegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="IBroadcastorService_NotifyServer_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyServer" />
  </wsdl:message>
  <wsdl:message name="IBroadcastorService_BroadcastToClient_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:BroadcastToClient" />
  </wsdl:message>
  <wsdl:portType name="IBroadcastorService">
    <wsdl:operation name="RegisterClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadcastorService/RegisterClient" message="tns:IBroadcastorService_RegisterClient_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadcastorService/NotifyServer" message="tns:IBroadcastorService_NotifyServer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BroadcastToClient">
      <wsdl:output wsaw:Action="http://tempuri.org/IBroadcastorService/BroadcastToClient" message="tns:IBroadcastorService_BroadcastToClient_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IBroadcastorService" type="tns:IBroadcastorService">
    <wsp:PolicyReference URI="#NetTcpBinding_IBroadcastorService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterClient">
      <soap12:operation soapAction="http://tempuri.org/IBroadcastorService/RegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotifyServer">
      <soap12:operation soapAction="http://tempuri.org/IBroadcastorService/NotifyServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="BroadcastToClient">
      <soap12:operation soapAction="http://tempuri.org/IBroadcastorService/BroadcastToClient" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BroadcastorService">
    <wsdl:port name="NetTcpBinding_IBroadcastorService" binding="tns:NetTcpBinding_IBroadcastorService">
      <soap12:address location="net.tcp://mylaptop/BroadcastorService/Service.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://mylaptop/BroadcastorService/Service.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/MyLaptop</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>